@section Admin{
    <li class="nav-item">
        <a href="/admin/categories/index" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Admin tap</p>
        </a>
    </li>
}
