@{
    ViewBag.Title = "Home Page";
}


<section class="position-relative" style="width:100%">
    <img class="w-100" style="height:45vh;object-fit:cover" src="https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80" alt="Alternate Text" />
    <h1 class="position-absolute display-2 text-white" style="top:180px;left:500px">Start Your Journey With BlogIT</h1>
</section>

<section class="container">
    <h2 class="text-center display-4 mt-4 mb-4">Blog Categories</h2>

    <div class="container bootstrap snippets bootdeys">
        <div class="row">
            @for (var i = 3; i <= 8; i++)
            {
                <div class="col-md-4 col-sm-6 content-card">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                            <div class="content">

                                <h4 class="title">Web Development</h4>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </div>
            }

        </div>
    </div>
</section>


<section class="container">
    <h2 class="text-center display-4 mt-4 mb-4">Latest Blogs</h2>


    <div class="container">
        <div class="row">
            @for (var i = 3; i <= 8; i++)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Sunset</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>


</section>