@model blog.Models.Posts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="w-100 mt-3">
        <img class="w-100 h-25" src="~/Uploads/@Model.BlogImage" alt="Alternate Text" />
    </div>

    <div class="d-flex mt-4 justify-content-between align-items-center">
        <span>@Model.User.UserName</span>
        <span>@Model.CreatedAt</span>

    </div>
    <hr />
    <div class="mt-5">
        <h3 class="text-center">@Model.Title</h3>
        @Html.Raw(HttpUtility.HtmlDecode(Model.Content.ToString()))
    </div>


    <p>
        <a href=@Request.UrlReferrer>Back</a>
    </p>
</div>

